.input-field {
    width: 55%;
}
input {
    margin-top: 2%;
}
.btn {
    margin-left: 5%;
    max-height: 38px;
    margin-top: 1%;
}
.no-margin {
    margin-top: 1% !important;
    margin-left: 0px !important;
}
.float-right {
    margin-right: 20%;
    margin-top: 5%;
}

#shape {
	width: 100px;
	height: 100px;
	background: yellow;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#shape::after {
    content: "";
    width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
    border-top: 100px solid red;
    position: relative;
    top: 196px;

}
#rect {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid red;
}
